<h1>This is a show page for <%= @book.title %></h1>


<ul>
  <li>Book title: <%= @book.title %></li>
  <li>Book genre: <%= @book.genre %></li>
  <li>Book description: <%= @book.description %></li>
  <li>Year of publish: <%= @book.year %></li>
</ul>

<p>Authors:</p>
  <ul>
    <% if @authors.length != 0 %>
      <% for author in @authors %>
        <li><a href="/authors/<%= author.id %>">Name: <%= author.pretty_name %></a></li>
      <% end %>
    <% else %>
      <p>No Authors for this book</p>
    <% end %>
  </ul>

<a href="/books/<%= @book.id %>/edit">Edit Book</a>
<a href="/publication/<%= @book.id %>/add_author">Add Author</a>
<form class="" action="/books/<%= @book.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Book">
</form>
