<h1>This is a show page for <%= @book.title %></h1>


<ul>
  <li><a href="/books/<%= @book.id %>"><%= @book.title %></a></li>
  <li><%= @book.genre %></li>
  <li><%= @book.description %></li>
  <li><%= @book.year %></li>
</ul>

<p>Authors:</p>
  <ul>
    <% if @authors.length != 0 %>
      <% for author in @authors %>
        <li><%= author.pretty_name %></li>
      <% end %>
    <% else %>
      <p>No Authors for this book</p>
    <% end %>
  </ul>

<a href="/books/<%= @book.id %>/edit">Edit Book</a>
<a href="/books/<%= @book.id %>/add_author">Add Author</a>
<form class="" action="/books/<%= @book.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Book">
</form>
