<h1>This is a show page for <%= @book.title %></h1>


<ul>
  <li><a href="/books/<%= @book.id %>"><%= @book.title %></a></li>
  <li><%= @book.genre %></li>
  <li><%= @book.description %></li>
  <li><%= @book.year %></li>
</ul>


<form class="" action="/books/<%= @book.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Book">
</form>
