<div class="container">
  <h1>This is authors edit page</h1>

  <form class="" action="/authors/<%= @author.id %>" method="post">

    <p>
      <label for="">Author first name</label>
      <input required type="text" value="<%= @author.first_name %> " name="first_name">
    </p>

    <p>
      <label for="">Author last name</label>
      <input required type="text" value="<%= @author.last_name %> " name="last_name">
    </p>

    <p>
      <label for="">Profile Picture Url</label>
      <input required type="text" value="<%= @author.profile_img %> " name="profile_img">
    </p>

    <p>
      <label for="">Date of birth</label>
      <input required type="number" value="<%= @author.date_of_birth.to_i %>" name="date_of_birth">
    </p>

    <p>
      <label for="">Description</label>
      <input required type="text" value="<%= @author.description %>" name="description">
    </p>

    <p>
      <input type="submit" name="" value="Update Author">
    </p>
  </form>
</div>
